@model List<Category>

@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Order</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>@category.CategoryOrder</td>
                <td class="d-flex justify-content-evenly">
                    <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-outline-primary">Edit</a>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="Id" value="@category.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Add New Category</a>
